<!-- index.html -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exemple Flask et AJAX avec paramètres</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css') }}">
</head>
<body>

<h1>Création Message Personnalisé</h1>

Channel Cible : <input type="text" id="channel_cible"><br>
Message : <input type="text" id="message"><br>
<button id="my-button">Envoyer</button>
<div id="result-container">Le résultat apparaîtra ici</div>

<script src="{{ url_for('static', filename= 'js/index.js') }}"></script>

</body>
</html>
