@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins&family=Space+Grotesk:wght@500&display=swap');
/* font-family: 'Audiowide', cursive;
font-family: 'Poppins', sans-serif; 
ont-family: 'Space Grotesk', sans-serif;*/


:root {
    --violet1: #313fdb;
    --violet2: #5865f2; /* violet discord */
    --blanc: #FFFFFF;
    --gris-clair-1: #E4EBF5; 
    --gris-clair-2: #c8d0e7;
    --gris-fonce: #909dbd;
    --text: #111;
}
.darkmode {
  --violet1: #313fdb;
  --violet2: #5865f2; /* violet discord */
  --blanc: #2D3236;   /* gris discord */
  --gris-clair-1: #23272a;
  --gris-clair-2: #191C1E;
  --gris-fonce: #9baacf;
  --text: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: var(--gris-clair-1)
}

.container {
    min-height: 100vh;
    display: block;
    justify-content: center;
    align-items: flex-start;
    font-family: "Poppins", sans-serif;
    background: var(--gris-clair-1);
    padding-top: 30px;
}

nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}


/*  NAVBAR */
.segmented-control {
  grid-column: 3/4;
  grid-row: 1/2;
  width: 40.4rem;
  height: 4rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--gris-clair-2), -0.2rem -0.2rem 0.5rem var(--blanc);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  position: relative;
  /* transform: translateX(650px); */
}
.segmented-control input {
  display: none;
}
.segmented-control > input:checked + label {
  /* transition: all 0.5s ease; */
  color: var(--violet1);
}
.segmented-control__1, .segmented-control__2, .segmented-control__3 {
  width: 12.8rem;
  height: 3.6rem;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--gris-fonce);
  /* transition: all 0.5s ease; */
}

.segmented-control__3 p{
  transform: translateX(30px);

}
.segmented-control__1:hover, .segmented-control__2:hover, .segmented-control__3:hover {
  color: var(--violet1);
}
.segmented-control__color {
  position: absolute;
  height: 3.4rem;
  width: 12.2rem;
  margin-left: 0.3rem;
  border-radius: 0.8rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--gris-clair-2), inset -0.2rem -0.2rem 0.5rem var(--blanc);
  pointer-events: none;
}

#tab-1:checked ~ .segmented-control__color {
  transform: translateX(0);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-2:checked ~ .segmented-control__color {
  transform: translateX(12.8rem);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-3:checked ~ .segmented-control__color {
  transform: translateX(27.6rem);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}


.switch {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: repeat(2, -webkit-min-content);
  grid-template-columns: repeat(2, min-content);
  grid-gap: 1rem;
  justify-self: center;
}
.switch input {
  display: none;
}
.switch__1{
  width: 6rem;
}
.switch__1 label {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  height: 3rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--gris-clair-2), inset -0.2rem -0.2rem 0.5rem var(--blanc);
  background: var(--gris-clair-1);
  position: relative;
  cursor: pointer;
  border-radius: 1.6rem;
}
.switch__1 label::after{
  content: "";
  position: absolute;
  left: .4rem;
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 50%;
  background: var(--violet1);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.switch__1 label::before{
  content: '';
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: var(--gris-clair-1);
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--gris-clair-2), inset -0.2rem -0.2rem 0.5rem var(--blanc);
  opacity: 0;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.switch input:checked ~ label::before {
  opacity: 1;
}
.switch input:checked ~ label::after {
  left: 57%;
  background: var(--gris-fonce);
}

.button p {
  color: var(--violet1);
} 

.container #accueil{
  height: 700px;
  width: 1550px;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--gris-clair-2), inset -0.2rem -0.2rem 0.5rem var(--blanc);
  border-radius: 20px;
  overflow: scroll;
  overflow-x: hidden;
}

.container #bots{
  height: 700px;
  width: 1550px;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--gris-clair-2), inset -0.2rem -0.2rem 0.5rem var(--blanc);
  border-radius: 20px;
  display: none;
}

.container #db{
  height: 700px;
  width: 1550px;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--gris-clair-2), inset -0.2rem -0.2rem 0.5rem var(--blanc);
  display: none;
  border-radius: 20px;
}

.container-bis {
	max-width:900px;
	margin:50px auto;
}

#bots .container-wrapper{
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 25px;
  color: var(--violet1);
}

.b1-container{
  position: relative;
  height: 100%;
  width: 50%;
  background-color: var(--gris-clair-1);
  border-right: 2px dashed var(--gris-fonce);
}
.b2-container{
  position: relative;
  height: 100%;
  width: 50%;
  background-color: var(--gris-clair-1);
  border-left: 2px dashed var(--gris-fonce);
}
/* #bots .b1-container h1,#bots .b2-container h1{
  display: initial;
  padding: 12px;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--gris-clair-2), inset -0.2rem -0.2rem 0.5rem var(--blanc);
  border-radius: 20px;
} */

#bots .b1-container ul{
  padding: 30px;
  margin: 20px;
  color: var(--text);
  list-style: none;
}
#bots .b1-container ul span{
  margin: 20px;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--gris-clair-2), -0.2rem -0.2rem 0.5rem var(--blanc);
}
#bots .b1-container ul span:hover{
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--gris-clair-2), inset -0.2rem -0.2rem 0.5rem var(--blanc);
  cursor: pointer;
}
#bots .b1-container ul img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--violet2);
}

.bot-parametres{
  align-items: center;
  justify-content: center;
  display: block;
}
.bot-parametres #bot-1{
  width: 100px;
  height: 100px;
  background-color: red;
  display: none;
}
.bot-parametres #bot-2{
  width: 100px;
  height: 100px;
  background-color: green;
  display: none;
}
.bot-parametres #bot-3{
  width: 100px;
  height: 100px;
  background-color: yellow;
  display: none;
}
.bot-parametres #bot-4{
  width: 100px;
  height: 100px;
  background-color: blue;
  display: none;
}
.bot-parametres #bot-5{
  width: 100px;
  height: 100px;
  background-color: bisque;
  display: none;
}


/* TIMELINE */
.timeline{
	position:relative;
	display:flex;
	flex-direction:column;
	list-style:none;
	padding-top: 20px;
	padding-bottom: 20px;
}
/* the timeline's center vertical line */
.timeline:before{
	content:"";
	position:absolute;
	top:0;
	bottom:0;
	left:50%;
	width: 1px;
	background-color: var(--violet1);
}
.timeline li{
	border-top:1px solid var(--violet1);
	position:relative;
	width:50%;
	min-height:100px;
	margin-bottom:20px;
	padding: 20px 40px;
	text-align: right;
	transition:.3s;
	opacity:1;
	transform: translateX(-10%);
}
/* the rounded mark on each timeline item */
.timeline li:before {
	content:"";
	width: 10px;
	height: 10px;
	position: absolute;
	top: 0;
	right: 0;
	background: var(--violet1);
	border-radius:50%;
	box-sizing:border-box;
	transform: translate(50%,-50%);
}
.timeline h3 {
	font-size:28px;
	margin-bottom: 10px;
  color: var(--text);
}
.timeline p {
  font-size: 20px;
  line-height: 28px;
  color: var(--gris-fonce);
}
.timeline li:nth-child(2n) {
	align-self: flex-end;
	text-align: left;
	transform: translateX(10%);
}
.timeline li:nth-child(2n):before {
	left: 0;
  transform: translate(-50%,-50%);
}



*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 10px solid var(--violet1);
}